.task{
    background-color: rgb(196, 145, 166);
    border-radius: 5px;
    height: fit-content;
    min-height: 18rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    gap:15px;
    border: 1px solid transparent;
    background: 
    linear-gradient(rgb(133, 43, 97), rgb(5, 1, 1)) padding-box,
    linear-gradient(90deg, red, orange, yellow, green, cyan, blue, violet) border-box;
    
}

.title{
    
    height:40px;
    text-align: start;
    padding: 0;
    margin:5px; 
   
}
.deadline{
    margin-top: 0px;
    padding-top: 0px;
    height: 30px;
}
label{
    display: block;
    text-align: start;
    padding-left: 5px;
}
.content{
    background-color:rgb(198, 126, 156);
    font-size: 25px;
    padding-left: 5px;
    color:rgb(239, 226, 226);
     background: 
    linear-gradient(rgb(3, 1, 1), rgb(208, 84, 157)) padding-box

}
.tag> span{
    margin-top: 8px;
    display: inline-block;
    width: 35px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid transparent;
    background: 
    linear-gradient(rgb(101, 94, 94), rgb(9, 7, 7)) padding-box,
    linear-gradient(90deg, red, orange, yellow, green, cyan, blue, violet) border-box;
}
.btn-edit{
    width:fit-content;
    height: 3rem;
    font-size: 30px;
    padding-top: 5px;
    text-align: center;
   
}
.btn-tool{
    margin-top: auto;
    margin-left: 12px;
    display: flex;
    flex-direction: row;
    gap:10px;
    margin-bottom: 10px;
}
.contain-task{
    position: relative;
}
.Popup-task{
    position: absolute;
    top:0px;
    z-index: 5;

}