.btn-add{
    font-size: 2rem;
    
    width: 3rem;
    height:3rem;
    border-radius: 50%;
    background-color: rgb(3, 3, 26);
    display: flex;
  justify-content: center; /* căn giữa ngang */
  align-items: center;     
  margin-bottom: 1rem;
}
.list-task{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

}